* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.kolommen {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.kolommen > section {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
}
