header{
    text-align: center;
}
main{
    text-align: center;
    margin: 0;
}
main a{
    text-decoration: none;
    color: black;
}
main a:hover{
    text-decoration: underline;
}
#Hobby ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#Paginas a{
    align-items: center;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: transform .2s ease-in-out;
}
#Paginas ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 150px;
}
#Paginas{
    margin-top: 100px;
}
#Paginas a:hover{
    transform: scale(1.25);
}
#Paginas h2{
    text-align: center;
}