header{
    text-align: center;
}
main{
    align-items: center;
    margin-inline: auto;
    text-align: center;
    margin: 0;
}
main a{
    text-decoration: none;
    color: black;
}
main a:hover{
    text-decoration: underline;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 30px auto;
  text-align: center;
}
th, td {
  border: 1px solid black;
  padding: 8px 16px;
}
#PI ul, #Hobby ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#Interesses ul {
  list-style: none;
}
#Interesses ul li {
    margin-bottom: 40px;
}
#Interesses ul ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}
#Interesses ul ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#Interesses ul ul img {
    max-height: 150px;
    border-radius: 10px;
    margin-top: 8px;
    display: block;
    transition: transform .5s;
}
#Interesses ul ul img:hover {
    transform: scale(1.05);
}